<div class="mobile-sort ">

  <!-- Trigger -->
  <button 
    type="button"
    class="mobile-sort__trigger"
    data-open-mobile-sort
  >
    {% render 'icon-up-down-arrow' %}
    <span>Sort By</span>
  </button>

</div>