<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_3151_15583)">
<foreignObject x="-17.4727" y="-17.3817" width="52.2715" height="54.7633"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(9px);clip-path:url(#bgblur_1_3151_15583_clip_path);height:100%;width:100%"></div></foreignObject><g data-figma-bg-blur-radius="18">
<path d="M15.7861 12.5417L16.3079 14.5745C16.5367 15.4661 15.9996 16.3743 15.108 16.6032L6.19518 18.8912C5.30362 19.1202 4.39532 18.5829 4.16644 17.6913L1.01759 5.42544C0.78871 4.53387 1.32593 3.62557 2.21749 3.3967L11.1302 1.10866C11.8632 0.920497 12.6075 1.25009 12.9762 1.86867" fill="white" fill-opacity="0.4"/>
<path d="M15.7861 12.5417L16.3079 14.5745C16.5367 15.4661 15.9996 16.3743 15.108 16.6032L6.19518 18.8912C5.30362 19.1202 4.39532 18.5829 4.16644 17.6913L1.01759 5.42544C0.78871 4.53387 1.32593 3.62557 2.21749 3.3967L11.1302 1.10866C11.8632 0.920497 12.6075 1.25009 12.9762 1.86867" stroke="#453D2B" stroke-width="0.875" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<path d="M15.7832 9.46009V2.95248" stroke="#453D2B" stroke-width="0.875" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12.5293 6.20605H19.0368" stroke="#453D2B" stroke-width="0.875" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="bgblur_1_3151_15583_clip_path" transform="translate(17.4727 17.3817)"><path d="M15.7861 12.5417L16.3079 14.5745C16.5367 15.4661 15.9996 16.3743 15.108 16.6032L6.19518 18.8912C5.30362 19.1202 4.39532 18.5829 4.16644 17.6913L1.01759 5.42544C0.78871 4.53387 1.32593 3.62557 2.21749 3.3967L11.1302 1.10866C11.8632 0.920497 12.6075 1.25009 12.9762 1.86867"/>
</clipPath><clipPath id="clip0_3151_15583">
<rect width="20" height="20" fill="white"/>
</clipPath>
</defs>
</svg>