<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<foreignObject x="-4" y="-4" width="48" height="48"><div xmlns="http://www.w3.org/1999/xhtml" style="height:100%;width:100%"></div></foreignObject><g data-figma-bg-blur-radius="4">
<g clip-path="url(#clip1_493_25409)">
<foreignObject x="-7.47412" y="-7.38184" width="52.271" height="54.7632"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(9px);clip-path:url(#bgblur_2_493_25409_clip_path);height:100%;width:100%"></div></foreignObject><g data-figma-bg-blur-radius="18">
<path d="M25.7846 22.5415L26.3064 24.5743C26.5353 25.4658 25.9981 26.3741 25.1065 26.603L16.1937 28.891C15.3022 29.1199 14.3939 28.5827 14.165 27.6911L11.0161 15.4252C10.7872 14.5336 11.3245 13.6253 12.216 13.3965L21.1288 11.1084C21.8618 10.9203 22.606 11.2498 22.9748 11.8684" fill="white" fill-opacity="0.4"/>
<path d="M25.7846 22.5415L26.3064 24.5743C26.5353 25.4658 25.9981 26.3741 25.1065 26.603L16.1937 28.891C15.3022 29.1199 14.3939 28.5827 14.165 27.6911L11.0161 15.4252C10.7872 14.5336 11.3245 13.6253 12.216 13.3965L21.1288 11.1084C21.8618 10.9203 22.606 11.2498 22.9748 11.8684" stroke="#453D2B" stroke-width="0.875" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<path d="M25.7827 19.4602V12.9526" stroke="#453D2B" stroke-width="0.875" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M22.5293 16.2061H29.0368" stroke="#453D2B" stroke-width="0.875" stroke-linecap="round" stroke-linejoin="round"/>
</g>
</g>
<defs>
<clipPath id="bgblur_0_493_25409_clip_path" transform="translate(4 4)"><rect width="40" height="40" rx="2"/>
</clipPath><clipPath id="bgblur_2_493_25409_clip_path" transform="translate(7.47412 7.38184)"><path d="M25.7846 22.5415L26.3064 24.5743C26.5353 25.4658 25.9981 26.3741 25.1065 26.603L16.1937 28.891C15.3022 29.1199 14.3939 28.5827 14.165 27.6911L11.0161 15.4252C10.7872 14.5336 11.3245 13.6253 12.216 13.3965L21.1288 11.1084C21.8618 10.9203 22.606 11.2498 22.9748 11.8684"/>
</clipPath><clipPath id="clip1_493_25409">
<rect width="20" height="20" fill="white" transform="translate(10 10)"/>
</clipPath>
</defs>
</svg>