<div class="section section-seprator">
  <hr>
</div>
{% schema %}
{
  "name": "section seprator",
  "settings": [
  ],
  "presets": [
    {
      "name": "section seprator"
    }
  ]
}
{% endschema %}
